@media print {
    header {
        display: none;
    }
}

body:has(> #page-settings[data-header-type="fancy"]) {
    @media (min-width: 768px) {
        header {
            position: absolute;
            background: transparent;

            nav {
                backdrop-filter: blur(12px);
                text-shadow: 1px 2px 1px black;
            }
        }
    }
}

body:has(> #page-settings[data-header-selected="home"]) {
    header nav a[data-link-kind="home"] {
        color: white;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
    }
}
body:has(> #page-settings[data-header-selected="blog"]) {
    header nav a[data-link-kind="blog"] {
        color: white;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
    }
}
body:has(> #page-settings[data-header-selected="projects"]) {
    header nav a[data-link-kind="projects"] {
        color: white;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
    }
}
