:root {
    --bg-image-height: calc(min(400px, 35vw));
}

#bg-img-container {
    background-size: auto 100%;
    background:
        center / auto 100% var(--bg-inline) no-repeat,
        var(--fade-color);
}

#bg-img-fade {
    --offset: 1260px;
    --width: 500px;

    background: radial-gradient(
            var(--width) 1000px at calc(50% - var(--offset)) 50%,
            var(--fade-color),
            var(--fade-color),
            transparent
        ),
        radial-gradient(
            var(--width) 1000px at calc(50% + var(--offset)) 50%,
            var(--fade-color),
            var(--fade-color),
            transparent
        );
}

#bg-text {
    text-shadow: 1px 2px 1px black;
}
